/**
 * Minified by jsDelivr using clean-css v5.3.3.
 * Original file: /npm/notiflix@3.2.8/src/notiflix.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */